*{
        margin-top: 0%;
        margin-left: 1em;
        margin-right: 1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    body{
        background-color: rgb(180, 186, 192);
    }